[Unit]
Description=window tiling manager
After=graphical.target

[Service]
ExecStart=/opt/cortile/cortile
Restart=always

[Install]
WantedBy=default.target
